body,
html {
    height: 100%;
}
.container .row {
    height: 100vh;
}
tr{
    height: 105px;
}
.white{
    background: url("./assets/images/hat_white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.blue{
    background: url("./assets/images/hat_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.red{
    background: url("./assets/images/hat_red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}